In [ ]:
# Problem 1: Unique Words in a Sentence
sentence = input("Enter sentence: ")

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'powerful', 'is', 'python', 'and', 'easy'}

In [ ]:
# Problem 2: Highest Salary from Employee Data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [ ]:
# Problem 3: Find Maximum and Minimum Values
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [ ]:
# Problem 4: Count Products Above a Price Threshold Problem Statement
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [ ]:
# Problem 5: Calculate Attendance Percentage
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [ ]:
# Problem 6: Remove Duplicate Phone Numbers
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [ ]:
# Problem 7: Count Character Frequency
text = "pythonp"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [ ]:
# Problem 8: Convert List to Tuple
numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [ ]:
# Problem 9: Check if a Key Exists in a Dictionary
employees = {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [ ]:
# Problem 10: Calculate Average Marks
marks = [65, 75, 80, 70]

total = 0

for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5